<section class="about_us_area {$Class}" id="{$_name}" style="{$style}">
    <div class="container" style="width: 80%;">
        {detail_wrapper}
        <div class="paper-lister" style="text-align: left;">
            <div class="row m0 section_title animated wow fadeInUp">
                <h2 class="xepan-component xepan-editable-text mce-content-body" xepan-component-name="Generic" id="7bab4bd1-3c35-4a27-c054-d08fa592be24" style="position: relative;" contenteditable="true">{$name}</h2>
                <div class="title_border">
                    <div class="icon_side">
                        <i class="mdi mdi-google-physical-web"></i>
                    </div>
                </div>
                <div class="part-of-speech color-theme-blue" style="float: left;font-size: 20px;text-transform: capitalize; ">{ {$part_of_speech} }</div>
                <div class="description" style="clear:both;float: left;font-size:24px; ">
                    <strong>Meaning of <span style="text-transform: capitalize;">{$name}</span> in hindi</strong>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                {description_detail}
                {rows}{row}
                <div class="col-md-6" style="margin-top: 10px;font-size: 18px;"><i class="fa fa-check"></i>&nbsp;{$name}</div>
                {/}{/}
                {/}
            </div>

            {synonyms_wrapper}
                <hr/>
                <div>
                    <h3 class="color-theme-info">Synonyms for <span style="text-transform: capitalize;"> {$name} </span> :-</h3>
                    <div style="margin-left:20px;padding: 10px;font-size: 18px;">{$synonyms}</div>
                </div>
            {/}

            {antonyms_wrapper}
                <hr/>
                <div>
                    <h3 class="color-theme-info">Antonyms for <span style="text-transform: capitalize;"> {$name} </span> :-</h3>
                    <div style="margin-left:20px;padding: 10px;font-size: 18px;">{$antonyms}</div>
                </div>
            {/}

            {sentance_wrapper}   
            <hr/>
            <div>
                <h3 class="color-theme-info">Sentance for <span style="text-transform: capitalize;"> {$name}</span> </h3>
                <div class="sentance-list" style="font-size: 18px;">
                    {$sentancelist}
                </div>
            </div>
            {/}

        </div>
        {/}
    </div>
    {$Content}
</section>