<section class="about_us_area {$Class}" id="{$_name}" style="{$style}">
		
    <div class="container">
        {detail_wrapper}
        <div class="paper-lister" style="text-align: left;">
            <div class="row m0 section_title animated wow fadeInUp">
                <h2 class="xepan-component xepan-editable-text mce-content-body" xepan-component-name="Generic" id="7bab4bd1-3c35-4a27-c054-d08fa592be24" style="position: relative;" contenteditable="true">{$name}</h2>
                <div class="title_border">
                	<div class="icon_side">
                    	<i class="mdi mdi-google-physical-web"></i>
                	</div>
            	</div>
            </div>
            <p>
            	{$description_detail}
            </p>
  			{sentance_wrapper}   
            <div>
            	<h4>Sentance</h4>{$sentance}
            </div>
            {/}

            {synonyms_wrapper}
            	<div>
            		<h4>synonyms</h4>{$synonyms}
            	</div>
            {/}

            {antonyms_wrapper}
            	<div>
            		<h4>antonyms</h4>{$antonyms}
            </div>
            {/}

        </div>
        {/}
        {$Content}
    </div>
</section>