
<div id="{$_name}" style="display:none" for-xepan-component="xavoc/dictionary/Tool_SearchResult" class="xepan-tool-options">
    <table class="table table-condensed table-hover xepan-cms-tool-table">
        <tr class="xepan-tool-option">
            <!-- <td class="xepan-tool-option-title">Search Result URL</td>
            <td class="xepan-tool-option-value">
                <input id="result_page" data-attr="result_page" data-defaultvalue="course-detail"/>
            </td> -->
        </tr>
    </table>

  <script type="text/javascript">
    $('\#{$_name} [data-attr]').on('change',function(){
    	$(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    $('\#{$_name}').on('show',function(event){
    	$('#{$_name} [data-attr]').each(function(index,value){
            var default_value = $(this).attr('data-defaultvalue');
            if($(current_selected_component).attr($(this).data('attr')))
                default_value = $(current_selected_component).attr($(this).data('attr'));
            
            $(this).val(default_value);
        });
    });
  </script>
</div>