
<div id="{$_name}" style="display:none" for-xepan-component="xavoc/dictionary/Tool_LibraryList" class="xepan-tool-options">
  
  <div class="xepan-cms-group-panel clearfix">
    <div id="collapse-item-list" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div style="padding-top:0px;padding-bottom:0px;" class="panel-body">
        <div id="xepan-cms-groups-panel" class="xepan-cms-groups-panel collapse in"></div>
        <div class="xepan-cms-group-panel clearfix">
          <div data-toggle="collapse" data-target="#show-hide-item-list-option" aria-expanded="false" class="panel panel-heading panel-primary collapsed"><span>Hide/ Show</span><i class="fa fa-chevron-down pull-right"></i></div>
        </div>
        <div id="show-hide-item-list-option" class="xepan-cms-tools-bar-panel row-fluid collapse">
          <table class="table table-condensed table-hover xepan-cms-tool-table">
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Type</td>
              <td class="xepan-tool-option-value">
                <select id="display_item" data-attr="type" data-defaultvalue="all">
                  <option value="Descriptive">Descriptive</option>
                  <option value="Objective">Objective</option>
                  <option value="Library">Library</option>
                  <option value="Article">Article</option>
                  <option value="Paper">Paper</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Paper Type</td>
              <td class="xepan-tool-option-value">
                <select id="papertype" data-attr="paper_type" data-defaultvalue="Descriptive">
                  <option value="Descriptive">Descriptive</option>
                  <option value="Objective">Objective</option>
                </select>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Limit</td>
              <td class="xepan-tool-option-value">
                <input id="record-limit" data-attr="limit" data-defaultvalue="0"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Heading</td>
              <td class="xepan-tool-option-value">
                <input id="record-heading" data-attr="heading" data-defaultvalue="Library"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Heading Description</td>
              <td class="xepan-tool-option-value">
                <input id="heading-description" data-attr="heading" data-defaultvalue=""/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Detail Page</td>
              <td class="xepan-tool-option-value">
                <input id="detail-page" data-attr="detailpage" data-defaultvalue="detail"/>
              </td>
            </tr>
            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Show Paginator</td>
              <td class="xepan-tool-option-value">
                <select id="showpaginator" data-attr="show_paginator" data-defaultvalue="true">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </td>
            </tr>

            <tr class="xepan-tool-option">
              <td class="xepan-tool-option-title">Paginator</td>
              <td class="xepan-tool-option-value">
                <input id="paginator" data-attr="paginator" data-defaultvalue="8"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
   <script type="text/javascript">
    $('#{$_name} [data-attr]').on('change',function(){
      $(current_selected_component).attr($(this).data('attr'),$(this).val());
    });
    $('#{$_name}').on('show',function(event){
      $('#{$_name} [data-attr]').each(function(index,value){
            var default_value = $(this).attr('data-defaultvalue');
            if($(current_selected_component).attr($(this).data('attr')))
                default_value = $(current_selected_component).attr($(this).data('attr'));
            
            $(this).val(default_value);
        });
    });
  </script>
</div>