
<section id="{$_name}" style="{$style}" class="{$class} ">
  <div class="container">
    		
    {rows}{row}
    <h1>Rakesh</h1>{$name}
    {$description}
    {/}{/}
    {not_found}
    <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
    {paginator_wrapper}
    <div style="float:none; clear:both" class="xepan-commerce-item-paginator">{$Paginator}</div>{/}
  </div>
</section>