<div class="course_single" id="{$_name}" style="{$style}">
    <div class="course_describe">
        <h3>{$name}</h3>
        <ul class="nav">
            <li><a href="#"><i class="mdi mdi-calendar-clock"></i>Post <span>{$created_at}</span></a></li>
        </ul>

        <!-- <img src="{$image_url}" alt="{$name}" style="width: 100%;"> -->

        <div class="news_area" style="margin: 0px;padding: 0px;">
        <div class="news_inner">
            <div class="member_area">
            <div data-wow-delay="0.3s" class="member animated wow fadeIn">
              <div class="member_img">
                <img src="{$image_url}" style="width:100%;">
                <div class="hover_content">
                  <div class="" style="font-weight: bold;">
                    <a href="/xepan2/article-detail?slug=%E0%A4%B8%E0%A4%AE%E0%A4%A4%E0%A4%BE%E0%A4%B5%E0%A4%BE%E0%A4%A6" style="color: black;"><span style="width:100%;">गूगल इनपुट उपकरण को ऑनलाइन आज़माएं विकिपीडिया:इण्टरनेट पर हिन्दी के साधन गूगल इनपुट उपकरण को ऑनलाइन आज़माएं विकिपीडिया:इण्टरनेट पर हिन्दी के साधन</span></a>
                  </div>
                </div>
              </div>
          </div>
            </div>
        </div>
        </div>

    </div>
    <div class="course_details">
        <!-- <h3>Detail</h3> -->
        <div style="text-align: justify;">
            {$description_detail}        
        </div>
    </div>
    <hr/>
    <div class="popular_tags popular_course" style="padding-bottom: 20px;">
        <div class="tag_inner">
           {$next}
           {$previous}
        </div>
    </div>
    <div>
        {$Content}
    </div>
</div>