<section class="project_area {$class}" data-stellar-background-ratio="0.5" id="{$id}" style="{$style}">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="media single_project">
                    <div class="media-left project_image">
                        <i class="mdi mdi-layers"></i>
                    </div>
                    <div class="media-body">
                        <h2 class="counter xepan-component xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete" xepan-component-name="count1" id="1a31cb21-5d0a-4e91-d155-2ae62882c234" contenteditable="false">{course_count}100{/}</h2>
                        <p class="xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete xepan-component" xepan-component-name="heading count 1" id="7f127036-d14b-456f-cdbb-65b60ce66228" contenteditable="false">कोर्सेस <br></p>
                    </div>
                </div>
                <div class="media single_project">
                    <div class="media-left project_image">
                        <i class="mdi mdi-human-child"></i>
                    </div>
                    <div class="media-body">
                        <h2 class="counter xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete" xepan-component-name="count2" contenteditable="false">{paper_count}1149{/}</h2>
                        <p class="xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete xepan-component" xepan-component-name="heading count 2" id="bcd5166e-b0b2-4952-d4d7-c154c3366ee8" contenteditable="false"><span id="result_box" class="short_text" tabindex="-1" lang="hi"><span class="">प्रश्न और उत्तर</span></span></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single_project selected">
                    <div class="project_image">
                        <i class="mdi mdi-presentation-play"></i>
                    </div>
                    <h2 class="xepan-component xepan-editable-text" xepan-component-name="Generic" id="xepan-e3dc4bc6-645f-46da-807f-37062c83a8a7" contenteditable="false">पाठशाला ऑनलाइन टीचिंग वीडियो <br></h2>
                    <p class="xepan-component xepan-editable-text" xepan-component-name="Generic" id="xepan-8c751430-41ce-4604-bb2a-3a8f7da6ee2a" contenteditable="false"><span id="result_box" class="" tabindex="-1" lang="hi"><span class="">भारत में 100 से अधिक छात्र और 70,000 से अधिक ऑनलाइन पाठ्यक्रम उपलब्ध हैं</span></span></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="media single_project">
                    <div class="media-left project_image">
                        <i class="mdi mdi-school"></i>
                    </div>
                    <div class="media-body">
                        <h2 class="counter xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete" xepan-component-name="count3" contenteditable="false">{student_count}1565{/}</h2>
                        <p class="xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete xepan-component" xepan-component-name="heading count 3" id="3ed40082-9619-4f35-e086-ffd588c5f182" contenteditable="false">विद्यार्थी <br></p>
                    </div>
                </div>
                <div class="media single_project">
                    <div class="media-left project_image">
                        <i class="mdi mdi-web"></i>
                    </div>
                    <div class="media-body">
                        <h2 class="counter xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete" xepan-component-name="count4" contenteditable="false">{mock_test_count}90{/}</h2>
                        <p class="xepan-editable-text xepan-no-richtext xepan-no-move xepan-no-delete xepan-component" xepan-component-name="heading count 4" id="1995080e-43d5-43e2-be44-8fbfd030316c" scrollamount="" contenteditable="false">मॉकटेस्ट <br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Project Area -->